{% extends "layout.html" %} 
{% load static %}

{% block title %}
    New User Signup
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "UrbanSkillX/form-styles.css" %}">
{% endblock %}

{% block body %}
  <form method="post" novalidate>
    <h2>Create Account</h2>
    {% csrf_token %}
    
    <div class="form-wrapper">
        {% for field in form %}
            <p class="form-row">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {% if field.help_text %}
                    <span class="helptext">{{ field.help_text|safe }}</span>
                {% endif %}
            </p>
        {% endfor %}
    </div>

    <button type="submit">Sign Up</button>
  </form>
  
  <div class="signup-link-container">
    <span>Already have an account?</span>
    <a href="{% url 'login' %}">Log in here</a>
  </div>
{% endblock %}